.main-header {
    //.mobile-header-wrap {
    //    @include media-breakpoint-down(md) {
    //        @include clearfix;
    //    }
    //}

    .navbar-toggler {
        border: 0;
        cursor: pointer;
    }

    .nav-link.active {
        text-shadow: 0 0 5px $gray-lightest, 0 0 10px $gray-lightest, 0 0 15px $gray-lightest, 0 0 20px $brand-primary, 0 0 35px $brand-primary, 0 0 40px $brand-primary, 0 0 50px $brand-primary;
    }
}

.main-header-sub {
    margin-bottom: 2rem;
    position: relative;

    .main-logo {
        display: block;
        max-width: 100%;
        padding: 0 $spacer;
        margin: 0 auto ($spacer * 2) auto;

        @include media-breakpoint-up(md) {
            display: inline-block;
            height: 7rem;
            margin-bottom: 0;
        }
    }

    .main-plug {
        display: block;
        max-width: 100%;
        padding: 0 $spacer;
        margin: 0 auto ($spacer * 4) auto;

        @include media-breakpoint-up(md) {
            display: inline-block;
            height: 3.125rem;
            vertical-align: bottom;
            margin-bottom: 0;
        }
    }

    .btn-display {
        display: block;
        width: 12em;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up(md) {
            margin-top: $spacer * 4;
        }

        @include media-breakpoint-up(lg) {
            display: inline-block;
            width: auto;
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 0;
            transform: none;
        }
    }
}
