.post-list {
  .card-header {
    border: 0;
  }

  .list-group-item:last-child {
    border-bottom: 0;
  }

  &--small {
    font-size: 14px;

    .post {
      margin-right: 2.5em;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

  &--botm:not(&--small) {
    .post {
      background-color: #fff;
      border: 0;

      .card-block {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &--botm#{&}--small {
    // ...
  }
}
